.feature-section {
  padding-inline: 5.5rem;
  padding-block: 34px;
}

.feature-section__header {
  text-align: center;
}

.feature-section__header .h2 {
  margin-block-start: 2rem;
  margin-block-end: 5.1rem;
}

.feature-item__header .h6 {
  margin-block-start: 1.2rem;
  margin-block-end: 1.6rem;
}

.feature-item__body {
  color: inherit;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
}

.features-grid {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 84px;
  grid-row-gap: 60px;
}



@media screen and (max-width: 991px) {
  .feature-section {
    padding-inline: 5.5rem;
  }

  .features-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .feature-section {
    padding-inline: 1.5rem;
  }

  .feature-section__header .h2 {
    margin-block-end: 3.6rem;
  }

  .features-grid {
    grid-template-columns: 1fr 1fr;
    margin-top: 16px;
    grid-row-gap: 36px;
  }
}

@media screen and (max-width: 427px) {
  .feature-section {
    padding-inline: 1.5rem;
    padding-top: 20px;
  }

  .feature-section__header .h2 {
    font-size: 27.65px;
  }

  .features-grid {
    grid-template-columns: 1fr;
    margin-top: 16px;
  }
}
