.feature-section {
  padding-inline: 5.5rem;
  padding-block: 28px;
}

.feature-section__header {
  text-align: center;
}

.feature-section__header .h2 {
  margin-block-start: 2.6rem;
  margin-block-end: 5.1rem;
}

.feature-item img {
  width: 43px;
  height: 44px;
}

.feature-item__header {
  margin-block-start: 0.5rem;
  margin-block-end: 1.6rem;
}

.feature-item__body {
  color: inherit;
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: normal;
}

.features-grid {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 86px;
  grid-row-gap: 41px;
}

.feature-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-button-container  .show-upet_btn {
  width: var(--button-size-large);
  height: 56px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 24px;
}

.button:not([disabled]):hover::after {
  box-shadow: none;
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
  .feature-section {
    padding-inline: 7.2rem;
  }

  .feature-item img {
    width: 36px;
    height: 36px;
  }

  .feature-item__header {
    margin-block-start: 0.5rem;
    margin-block-end: 0rem;
    width: 70%;
  }

  .feature-item__body {
    padding-right: 0px;
  }

  .features-grid {
    grid-column-gap: 83px;
    grid-row-gap: 42px;
  }

  .feature-section__header .h2 {
    line-height: 44px;
    margin-bottom: 58px;
    margin-top: 34px;
  }

  .feature-button-container  .show-upet_btn {
    width: 336px;
    /* margin-right: 36px; */
  }
  
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .feature-section {
    padding-inline: 8.8rem;
  }

  .features-grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8.6rem;
    grid-row-gap: 1.7rem;
  }

  .feature-button-container  .show-upet_btn {
    width: 100%;
  }

  .feature-section__header .h2 {
    margin-block-start: 4.6rem;
    margin-block-end: 2.7rem;
  }

  .feature-item__header {
    width: 78%;
  }

  .feature-item img {
    width: 35px;
    height: 36px;
  }

  /* .feature-item:nth-child(3) {
    max-height: 160px;
  }

  .feature-item:nth-child(4) {
    max-height: 160px;
  } */
}


@media screen and (min-width: 428px) and (max-width: 767px) {
  .feature-section {
    padding-inline: 2.4rem;
    padding-top: 20px;
  }

  .feature-section__header .h2 {
    margin-block-start: 1.8rem;
    margin-block-end: 3.6rem;
    font-size: 27.65px;
    line-height: 3.6rem;
  }

  .features-grid {
    grid-template-columns: 1fr;
    margin-top: 16px;
    grid-row-gap: 13px;
  }

  .feature-item {
    height: auto;
  }

  .feature-item img {
    width: 27px;
    height: 28px;
  }

  .feature-item__header {
    margin-block-start: 0.5rem;
    margin-inline-end: 1.6rem;
  }

  .feature-item .feature-item__body {
    margin-block-start: -8px;
    margin-block-end: 21px;
  }

  .feature-button-container  .show-upet_btn {
    width: 100%;
  }
}

@media screen and (max-width: 427px) {
  .feature-section {
    padding-inline: 1.5rem;
    padding-top: 20px;
  }

  .feature-section__header .h2 {
    font-size: 27.65px;
  }

  .features-grid {
    grid-template-columns: 1fr;
    margin-top: 16px;
  }

  .feature-button-container  .show-upet_btn {
    width: 100%;
  }
}
