.hero-header {
  padding-bottom: 6px;
  padding-inline: 5.5rem;
}

.hero-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px
}

.hero-header__logo {
  display: flex;
  min-height: 34px;
}

.hero-header__signin a {
  /* padding-bottom: 5px; */
  padding: 0;
  font-size: 13.33px;
}

@media screen and (max-width: 991px) {
  .hero-header {
    padding-inline: 5.5rem;
  }  
}

@media screen and (max-width: 767px) {
  .hero-header {
    padding-inline: 1.5rem;
  } 
}

@media screen and (max-width: 427px) {
  .hero-header {
    padding-inline: 1.5rem;
  }  

}
