.hero-section {
  padding-inline: 5.5rem;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -6px;
}

.image-position_right {
   grid-template-areas: "a b";
}

.image-position_left {
   grid-template-areas: "b a";
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  grid-area: b;
}

.hero-image__pug, .hero-image__pug img {
  width: 100%;
  height: auto;
  padding: 5px 16px 7px 9px;
}

.left-container {
  grid-area: a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  padding-right: 204px;
  padding-bottom: 15px;
  color: var(--text-color-primary-light);
}

.padding-left {
  padding-left: 204px;
  padding-right: 0;
}

.padding-right {
  padding-right: 204px;
}

.left-container .h1 {
  margin: 0;
  color: inherit;
  width: 100%;
}

.left-container .h5 {
  margin-top: 36px;
  margin-bottom: 44px;
  font-weight: 400;
  color: inherit;
  width: 100%;
}

.left-container .show-upet_btn {
  width: var(--button-size-large);
  height: 56px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
}

.button::after, .button::before {
  box-shadow: none;
}

.button:not([disabled]):hover::after {
  box-shadow: none;
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
  .hero-section {
    padding-bottom: 120px
  }
  
  .left-container {
    padding-right: 100px;
    padding-top: 120px
  }

  .left-container .h1 {
    width: 85%;
  }

  .left-container .show-upet_btn {
    width: 352px;
  }

  .hero-image {
    position: relative;
  }

  .hero-image__pug, .hero-image__pug img {
    position: absolute;
    width: 447px;
    height: auto;
    top: 6px;
    right: 10px;
  }
}


@media screen and (min-width: 768px) and (max-width: 991px) {
  .hero-section {
    padding-inline: 8.9rem;
    padding-top: 6.7rem;
  }

  .left-container .h5 {
    margin-top: 32px;
    margin-bottom: 40px;
  }
  
  .hero-content {
    grid-template-areas: "a" "b";
    grid-template-columns: 1fr;
  }
  
  .left-container {
    padding-right: 76px;
    text-align: left;
    text-align: center;
  }
  
  .left-container .show-upet_btn {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 44px;
  }
  .padding-left {
    padding-left: 76px;
    padding-right: 0;
  }

  .padding-right {
    padding-right: 0px;
  }

  .hero-image__pug, .hero-image__pug img {
    padding: 0px;
    /* margin-top: -8px; */
  }
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .hero-section {
    padding-inline: 2.4rem;
    padding-top: 20px;
  }
  .hero-content {
    grid-template-columns: 1fr;
    grid-template-areas: "a" "b";
    grid-auto-flow: row;
  }
  .left-container {
    align-items: center;
    padding-right: 0;
    text-align: center;
    padding-bottom: 0;
  }
  .left-container .show-upet_btn {
    margin-bottom: 44px;
    width: 100%;
  }

  .left-container .h1 {
    font-size: 3.318rem;
    margin-top: 2.1rem;
    line-height: 44px;
  }

  .left-container .h5 {
    margin-top: 3.1rem;
    margin-bottom: 4rem;
  }

  .hero-image__pug, .hero-image__pug img {
    padding: 0;
    margin-top: -2px
  }
}

@media screen and (max-width: 427px) {
  .hero-section {
    padding-inline: 1.5rem;
    padding-top: 20px;
  }

  .hero-content {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: -6px;
  }

  .left-container .h1 {
    font-size: 33.18px;
  }

  .padding-right {
    padding-right: 0px;
  }

  .left-container .show-upet_btn {
    width: 100%;
  }
  
  .image-position_right {
    grid-template-areas: "a" "b";
  }
}
